/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";


:root {
  --text-color: #aaaaaa;
  --bg-color: #181818;      /* dark background */  
  --bg-alt: #282828;        /* lighter background for code blocks, etc */
  --accent: #ac4242;        /* orange accent */
  --border: #3c3836;        /* subtle border */
}
html{
  font-size: 18px;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);

 /* font-family: "Roboto Mono", monospace; */
  font-family: "JetBrains Mono", monospace;
  /* font-family: "IBM Plex Mono", monospace; */
 
}

 
/* Headings */
h1, h2, h3, h4, h5, h6 {
  /* color: white; */
  margin-top: 0; 
}
/* Links */
.under, a {
 
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}
.under, a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--accent); 
  pointer-events: none;
}
.under, a:hover {
  color: white;
  background-color: var(--accent);
}

/* Remove underline from navbar links */

nav .links,
.links,
nav .links::after {
  text-decoration: none;
  background: none;

}
nav .links::after {
  content: none;
}
nav .links:hover {
  color: inherit;
  background: none;
}


blockquote {
  border-left: 4px solid var(--accent);
  color: #cccccc;
  font-style: italic;
}


code {


  font-family: "Fira Mono", monospace;
}


pre {
  background: var(--bg-alt);

  overflow-x: auto;
  padding: 10px 10px;
 font-family: "Fira Mono", monospace;
}


/* Light mode */
.light {
  --text-color: black;
  --bg-color: #f5f5f5;
  --bg-alt: navy;
  --accent: #ef5350;
  --border: #cccccc;
}



.light body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
  color: black;
}

.light a {
  color: #333333;
  position: relative; /* needed for ::after */
  text-decoration: none;
  transition: color 0.3s ease;
}


.light a::after,
.light a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--accent);
  pointer-events: none;
  z-index: 1;
}
.light a:hover {
  color: var(--bg-color);
  background-color: var(--bg-alt);
}
.light nav .links,
.light .links,
.light nav .links::after {
  text-decoration: none;
  background: none;
  position: static;
}
.light nav .links::after {
  content: none;
}
.light nav .links:hover {
  color: inherit;
  background: none;
}
.light blockquote {
  border-left: 4px solid var(--accent);
  color: #666666;
}


.light pre {
  background: var(--bg-alt);
  color:white;
  /* border: 1px solid var(--border); */
}

@media (min-width: 720px) {
  html {
    font-size: 17px;
  }
}