/* Base prose styles */
.prose-enhanced {
  max-width: none;
  line-height:1.6em;

  font-size: 15px; /* mobile base */
}
article > div{
  margin: 20px 0px;
}
h1,h2,h3,h4,h5,h6{
  font-size: 1.2rem;
  margin-bottom: 15px;
   margin-top: 2em;
}
.page-header{
  font-size: 1.5rem;   
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1em;
}
/* Headings */
.prose-enhanced h1 {
  font-size: 1.2rem;   
  font-weight: 400;
  margin-bottom: 1em;
}

.prose-enhanced h2 {
  font-weight: 500;
  margin-top: 2rem;
  line-height: 1.5;

}

.prose-enhanced h3 {
  font-weight: 500;
  margin-top: 1.5em;

}

/* Paragraphs */
.prose-enhanced p {
line-height: 1.5;
font-weight: 500;
font-size: 17px;
}
h1::before {
  content: "# ";
  color: var(--accent);
  user-select: none; 
}
h2::before {
  content: '##';
  color: var(--accent);
  user-select: none;
  margin-right: 0.5rem;
}
h3::before{
  content: '###';
  color: var(--accent);
  user-select: none;
  margin-right: 0.5rem;
}
/* Lists */
.prose-enhanced ul,
.prose-enhanced ol {
  padding-left: 1.5rem;
 
}
.prose-enhanced li{
  font-size: 1rem;
  list-style:square;
}
/* .prose-enhanced li::before{
  content: "*";
  color: var(--accent);
  margin-right : 0.25rem;
} */

/* Blockquote */
.prose-enhanced blockquote {
  border-left: 4px solid var(--orange);
  padding-left: 1rem;
  font-style: italic;

  font-size: 1rem;
}

/* Code */
.prose-enhanced code {
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
line-height: 1.4;
  font-size: 0.95rem;
}
/* Preformatted blocks */
.prose-enhanced pre {
  padding: 1rem;
  
  border-radius: 0.75rem;
  overflow-x: auto;
  color: var(--fg);
  margin: 20px 0px;
  font-size: 15px;
}
.prose-enhanced pre code {
  
  padding: 5;
}

