/* Base prose styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
.prose-enhanced {
  max-width: none;
  line-height: 1.7;
}

article > div {
  margin: 1.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  line-height: 1.3;
}

.page-header {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

/* Headings */
.prose-enhanced h1 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

.prose-enhanced h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.prose-enhanced h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Paragraphs */
.prose-enhanced p {
  line-height: 1.7;
  font-weight: 400;
  font-size: 18px;
  margin: 1rem 0;
}
h1::before {
  content: "# ";
  color: var(--accent);
  user-select: none; 
}
h2::before {
  content: '##';
  color: var(--accent);
  user-select: none;
  margin-right: 0.5rem;
}

/* Lists */
.prose-enhanced ul,
.prose-enhanced ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.prose-enhanced img {
  margin: 1.5rem 0;
  width: 100%;
}

.prose-enhanced li {
  font-size: 1rem;
  line-height: 1.7;
  margin: 0.5rem 0;
  list-style: square;
}
/* .prose-enhanced li::before{
  content: "*";
  color: var(--accent);
  margin-right : 0.25rem;
} */

/* Blockquote */
.prose-enhanced blockquote {
  border-left: 4px solid var(--accent);
  padding-left: 1rem;
  margin: 1.5rem 0;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.7;
}

/* Code */
.prose-enhanced code {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-family: "Fira Mono", monospace;

  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.4;
}
/* Preformatted blocks */
.prose-enhanced pre {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.75rem;
  overflow-x: auto;
  /* color: var(--fg); */
  margin: 20px 0px;
}
.prose-enhanced pre code {
  
  padding: 5;
}

